In [ ]:
# do-while

while

for(int i=1; i<11; i++){
    kahan i
}

foreach(int i in somearray){
    do smething
}



for-each

for obj in collection:
    pass

range()

In [2]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
while a > 5:
    pass
print('ji')
print('nice')

In [7]:
a = [4,'hi','nice',35]
b = []
for i in range(len(a)):
    b.append(val * 2)
b

[70, 70, 70, 70]

In [ ]:
a = [4,'hi','nice',35]
b = []
for val in a:
    b.append(val * 2)
b

In [4]:
a * 2

[4, 'hi', 'nice', 35, 4, 'hi', 'nice', 35]

In [6]:
b

[8, 'hihi', 'nicenice', 70]

In [10]:
# 0comprehenison
## for-loop statements which are of one liner

# list comprehension
#    [output for-loop]
#   [output for-loop if-condition ] - filter
# dictionary compr.
#   { key_op:value_op for-loop}   
# set compr.
#   { output for-loop}
# generator compr.
#   (output for-loop)
b = [val*2 for val in a]

In [9]:
b

[8, 'hihi', 'nicenice', 70]

In [16]:
k =[4,7,3,67,34,2,4,45,22,11,9,8]

In [ ]:
# a>5? ye kar dena: nahi to ye wala kar dena
# ye kar dena if-cond else ye wala kar dena

In [ ]:
# Task: multiply by 2 if odd otherwise check if it
# is less than 20 then do // 2 otherwise do not do antyhing

In [19]:
p = [val*2 if val % 2 == 1 else (val//2 if val <20 else val)
     for val in k
     ]

In [20]:
p

[2, 14, 6, 134, 34, 1, 2, 90, 22, 22, 18, 4]

In [18]:
p = [val * 2 if val % 2 == 1 else val//2 for val in k]
p

[2, 14, 6, 134, 17, 1, 2, 90, 11, 22, 18, 4]

In [17]:
p = []
for val in k:
    if val % 2 == 0:
        p.append(val // 2)
    else:
        p.append(val * 2)
p

[2, 14, 6, 134, 17, 1, 2, 90, 11, 22, 18, 4]

In [12]:
p = [val for val in k if val % 2 ==0]
p

[4, 34, 2, 4, 22, 8]

In [13]:
a = [val for val in k if val  % 2 == 1 and val > 10]

In [14]:
a

[67, 45, 11]

In [15]:
[val for val in k if not val  % 2 == 1 and val > 10]

[34, 22]

In [ ]:
# k = []

# koi_function([val for val in k])

In [21]:
k

[4, 7, 3, 67, 34, 2, 4, 45, 22, 11, 9, 8]

In [22]:
m = {val:val**2 for val in k if val % 2 == 0}
m

{4: 16, 34: 1156, 2: 4, 22: 484, 8: 64}

In [23]:
for i in m:
    print(i)

4
34
2
22
8

In [24]:
for key, value in m.items():
    print(key, value)

4 16
34 1156
2 4
22 484
8 64

In [25]:
m.items()

dict_items([(4, 16), (34, 1156), (2, 4), (22, 484), (8, 64)])

In [26]:
# user define functions
#######################

In [29]:
def function_ka_naam():
    print('ye kuch kar dega')

In [31]:
function_ka_naam()

ye kuch kar dega

In [36]:
def ekor(ekvalue,dusrivalue):
    print('kuch bhi')
    return ekvalue * dusrivalue

In [37]:
ekor(4,5)

kuch bhi

20

In [38]:
x = ekor(2,3)

kuch bhi

In [3]:
def merimarzi(ekvalue,dusrivalue):
    print('kuch bhi')
    return (ekvalue * dusrivalue) + ekvalue

In [4]:
merimarzi(dusrivalue=10, ekvalue=12)

kuch bhi

132

In [5]:
def kuchor(x = 10, *v):
    return [i*x for i in v]

In [6]:
kuchor(3,6,8)

[18, 24]

In [7]:
kuchor(3,6,8, somedata = [3,4,5,6])

TypeError: kuchor() got an unexpected keyword argument 'somedata'