In [2]:
a=10
b=20
c=a/b
d=a*b
print(c)
print(d)

0.5
200

In [1]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#identifiers
#keywords
#operators
    # 1.Arithmetic: +, -, /, *, **, //, %
    # 2.Relational: ==, !=, >, <, >=, <=
    # 3.Assignment: =, +=, -=, *=,.....
    # 4.Logical: and, or, not
    # 5.Membership: in, not in
    # 6.Bitwise: &,|, ^, ~, <<, >>  
    # 7.Identify: is, is not
# Data Types / Data Classes
    # Numeric: int, float, complex
    # Sequences: 
    #       str: immutable collection of characters '' "" ''' '''
    #  []   list: mutable & unstructured coll of het elements
    #  ()   tuple: immutable & unstructured coll of het. elements
    # Mapping:
    #  {}   dict: mutable & structured coll of key-value pairs
    # Set:
    #  {}   set: unordered coll of unique items
    # Boolean:
        # bool:  True False (Anything non-zero or non-empty is true)
    # Empty Data:
        # NoneType: None
    # Data Operations (Collections)
        # 1. Item Accessing (Indexing/Slicing/subscripting)
        # 2. Item Insertion
        # 3. Item Assignment (possible with mutable only)
        # 4. Item Deletion (possible with mutable only)
    # Data type built-in functions
        # str: upper, lower, find, split, strip, join, format, count
        # list: append, sort, count, copy, insert, remove, index, pop
        # tuple: count, index
        # dict: keys, values, update, get, pop
        # set: add, difference, union, pop, remove

In [1]:
## String Formatting 
x = 20
y = 30
# z = 'ek aisa data jo 20 to 30 hai'

# (Format Specifiers)
z = 'ek aisa data jo %d to %d hai'%(x,y)

# using format function 
z = 'ek aisa data jo {} to {} hai'
z = z.format(x,y)
# z = 'ek aisa data jo {} to {} hai'.format(x,y)
# ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai
z1 = 'ek aisa data jo {0} to {1} hai lekin {0} hi kaafi hai'
z1.format (x,y)

# using f-string
f'anything'

zf = f'ek aisa data jo {x} to {y} hai lekin {x} hi kaafi hai'
zf

'ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai'

In [ ]:
# 1. No Input and no output args 
# 2. Input arg but not output args
# 3. No input but output args are there
# 4. Both are there

# a. In-place (self update)
# b. Non in-place

In [3]:
g ={3:[4,5], 'a':44}

In [6]:
g.keys()

dict_keys([3, 'a'])

In [7]:
type(g.keys())

dict_keys

In [8]:
list(g.keys())[0]

3

In [9]:
print(g.get('b'))

None

In [10]:
s = '468hi3.4'
a = [4,6,8,'hi',3.4]
b = (4,6,8,'hi',3.4)
c = {4:6,8:['hi',3.4]}
d = {4,6,8,'hi',3.4}

In [11]:
g.get('a','not found')

44

In [12]:
e = [1,2,3,4,5]
e3 = e
e4 = e.copy()
e3.append(g)
print(e)
print(e3)
print(e4)

[1, 2, 3, 4, 5, {3: [4, 5], 'a': 44}]
[1, 2, 3, 4, 5, {3: [4, 5], 'a': 44}]
[1, 2, 3, 4, 5]

In [2]:
type(s),type(a),type(b),type(c),type(d)

(str, list, tuple, dict, set)

In [3]:
len(s),len(a),len(b),len(c),len(d)

(8, 5, 5, 2, 5)

In [30]:
s

'jobjobhi aapchaheinjobhi aapchaheinhi aapchahein'

In [31]:
## Item Assignment
# s[0] = 'A'        # not possible
# a[0] = 'A'        # done
# b[0] = 'A'        # not possible
# c[4] = 'A'        # done

## Item Deletion
# del s[0]  # not possible
# del a[0]  # done
# del b[0]  # not possible
# del c[4]  # done

In [32]:
d = 'hello'

In [35]:
d = d.upper()

In [37]:
d

In [9]:
s += 'k'
s

'468hi3.4k'

In [12]:
s = s[3:]
s

''

In [13]:
s

''

In [16]:
s = s[:3] + 'jobhi aapchahein' + s[3:]
s

'jobjobhi aapchaheinjobhi aapchaheinhi aapchahein'

In [20]:
a +=['bye']
a

[4, 6, 8, 'hi', 3.4, 'bye', 'bye', 'bye']

In [23]:
b +=('bye',)

In [24]:
b

(4, 6, 8, 'hi', 3.4, 'bye')

In [25]:
(*a,*b)

(4, 6, 8, 'hi', 3.4, 'bye', 'bye', 'bye', 4, 6, 8, 'hi', 3.4, 'bye')

In [26]:
(*a,*b,*s)              # is use to add any str, tuple,etc.
                        # args and kwargs

(4,
 6,
 8,
 'hi',
 3.4,
 'bye',
 'bye',
 'bye',
 4,
 6,
 8,
 'hi',
 3.4,
 'bye',
 'j',
 'o',
 'b',
 'j',
 'o',
 'b',
 'h',
 'i',
 ' ',
 'a',
 'a',
 'p',
 'c',
 'h',
 'a',
 'h',
 'e',
 'i',
 'n',
 'j',
 'o',
 'b',
 'h',
 'i',
 ' ',
 'a',
 'a',
 'p',
 'c',
 'h',
 'a',
 'h',
 'e',
 'i',
 'n',
 'h',
 'i',
 ' ',
 'a',
 'a',
 'p',
 'c',
 'h',
 'a',
 'h',
 'e',
 'i',
 'n')

In [27]:
c[99] = [86,'ekvalue']
c

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue']}

In [28]:
c2 = {'a':45, 'b':35}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue']}
{'a': 45, 'b': 35}

In [29]:
{**c,**c2}

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue'], 'a': 45, 'b': 35}

In [ ]:
# (*args,**kwargs)

In [8]:
'hi' * 3

'hihihi'

In [5]:
'hi' + 'k'

'hik'

In [6]:
[4,5] + [3,6]

[4, 5, 3, 6]

In [7]:
(4,5) + (3,6)

(4, 5, 3, 6)

In [10]:
# slicing s[start : stop (not included) : stepsize]
######### s[0     : end                 : +1 ]
######### s[ end  : 0                   : -ve]
s = 'A Sample python Statement'
s[:-10:-1]

'tnemetatS'

In [11]:
s[::-1]

'tnemetatS nohtyp elpmaS A'

In [3]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [12]:
d1 = [{'a':34},66,{'66':[{'00':[98,'hi']}, 'awesome', {'m':'n'}]}]

In [16]:
d1[1]

66

In [27]:
d1[2]['66'][0]['00'][0]

98